*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Averia Serif Libre", cursive;
}

h1,
h2,
h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: #F2F2F2;
}


img {
    max-width: 100%;
    height: auto;
}

p {
    color: var(--text);
}

input,
textarea,
button {
    font-family: "Poppins", sans-serif;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.pt2 {
    padding-top: 2rem;
}

.m1 {
    margin: 1rem;
}

.m2 {
    margin: 2rem;
}

.mt1 {
    margin-top: 1rem !important;
}

.mt2 {
    margin-top: 2rem;
}

.mt5 {
    margin-top: 5rem;
}

.bg-white {
    background-color: #fff;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.col-5 {
    flex-direction: row;
    width: 50%;
}

.col-full {
    width: 100%;
}

.gap {
    gap: 1rem;
}

.gap2 {
    gap: 2rem;
}

.justify-between {
    justify-content: space-between;
}

.pos-abs {
    position: absolute;
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green-deep);
}

.yellow {
    background-color: var(--yellow);
}

.orange {
    background-color: var(--orange);
}

.blue {
    background-color: var(--blue);
}

.cyan {
    background-color: var(--cyan);
}

.form-input {
    padding: 13px 20px;
    font-size: 16px;
    border: 1px solid #ced4da;
    transition: 0.3s;
}

.form-input:focus {
    border-color: #cfedcb;
    box-shadow: 0 0 0 0.2rem rgba(120, 204, 109, 0.25);
    outline: 0;
}