*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Averia Serif Libre", cursive;
}

h1,
h2,
h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: #F2F2F2;
}


img {
    max-width: 100%;
    height: auto;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.pt2 {
    padding-top: 2rem;
}